Body
{
    background-color:#dddddd;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
.Container
{
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	font:100%;
	width:850px;
	background-color:White;
	border-left:solid 1px gray;
	border-right:solid 1px gray;
	border-bottom:solid 1px gray;
	border-top:none;
	height:580px;
	padding:0px 0px 0px 0px;
}
.Header
{
	width:850px;	
	background-color:White;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.Banner
{
	background-image: url('./Images/leaves.gif');
	background-repeat:no-repeat;
    height:160px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.LogoutButton
{
    width:100px;
    position:absolute;
    left:700px;
    top:5px;
    font-family:"Tempus Sans ITC", "Times New Roman", Serif;
    text-decoration:none;
    background:White;
    margin:0px;
    padding:0px;
    z-index:100;
}
.LogoutButton a
{
    color:green;
}
.LogoutButton a:active, a:visited, a:hover
{
    color:#CC6633;
    text-decoration:underline;
}
.Content
{
	margin-left:30px;
	margin-right:30px;
	margin-top:0px;
	background-color:White;
	float:left;
	position:relative;
}
.Content h1
{
	font-family:"Tempus Sans ITC", "Times New Roman", Serif;
	font-size:1.6em;
}
.Content p
{
	font-family:"Helvetica";
	font-size:.85em;
	line-height:1.2;
}
.HomeContent
{
	width:400px;
	float:left;
	position:relative;
	background-color:White;
	padding-right:40px;
	margin-top:20px;
	margin-left:20px;
	/*border:solid 1px black;*/
}	
.HomeImage
{
	background-repeat:no-repeat;
	float:right;
	position:relative;
	width:320px;
	padding-top:50px;
	margin-top:20px;
}
.HomeContent2
{
	width:420px;
	float:left;
	position:relative;
	background-color:White;
	padding-right:40px;
	margin-top:20px;
	margin-left:20px;
	/*border:solid 1px black;*/
}	
.PrimaryNavigation
{
	font-family:"Tempus Sans ITC", Arial, Sans-Serif;
	font-weight:bold;
	font-size:18px;
	line-height:1.0em;
	padding:5px 0px 4px 0px;
	margin:0px 0px 0px 0px;
	background-color:White;
	border-bottom:solid 2px black;
	border-top:solid 1px gray;
	position:relative;
	height:28px;
	background-image:url('./Images/SushiGrass.gif');
	background-repeat:repeat-x;
	background-position:bottom;
}
.PrimaryNavigation ul
{
	list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
.PrimaryNavigation li
{
	float:left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
}
.PrimaryNavigation li:first-child
{
	margin-left:40px;
}
.PrimaryNavigation a
{
	display:block;
	color:White;
	text-decoration:none;
	background:#663300;
	margin:0px 35px 0px 0px;
	padding:0.20em 0.45em;
	border:solid 1px black; 
	position:relative;
}
.PrimaryNavigation a.CurrentPage
{
	background:#CC6633;
	color:Black;
	margin-right:35px;
	margin-top:0px;
}
.PrimaryNavigation a:hover, a:active, a.here:link, a.here:visited
{
	background:#660000;
	color:White;
	margin-right:35px;
	margin-top:0px;
}
.PrimaryNavigation a.here:link, a.here:visited
{
	
}
.LeadsLinks a:hover, a:active
{
    color:White;
    margin:0px;
}